@import url('../css/comun.css');
@import url('../css/formularioLoginRegister.css');



.main {
    display: flex;
    min-height: 100vh;
   
}

/* Menú izquierdo */
.izquierda {
    width: 15%;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;  
    padding-bottom: 20px; /* Añadir algo de espacio al final */
}

.derecha {
    flex-grow: 1; /* Permitir que el contenido de la derecha ocupe el espacio restante */
    padding: 20px;
    min-width: 88vw;
    margin-left: -20px;
}

.logo {
    padding: 40px;
}


.head {
    border-bottom: solid black 2px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}
.head span{
    margin-right: 80px;
margin-top: -20px;
}
.home{
    text-decoration: none;
    font-family: var(--fuente);
    font-size: 1.2vw;
    color: white;
}

h1 {
    font-family: var(--fuente);
    padding: 20px;
}

h2 {
    text-decoration: underline;
    margin-bottom: 20px;
    margin-left: 20px;
}

span {
    width: auto;
    font-family: var(--fuente);
    font-size: 1vw;
}

ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 50px;
    text-decoration: none;
}

li {
    list-style-type: none;
    font-family: var(--fuente);
    font-size: 1.2vw;
    margin-bottom: 20px;
    cursor: pointer;
}

i {
    color: var(--color-gris);
    font-size: 1.2vw;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}
.tdPregunta{
    width: 37%;
}
.tdPregunta1,
.tdPregunta2,
.tdPregunta3{
    width: 15%;
}
th,
td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    /* Asegura que el contenido esté alineado verticalmente en el centro */
}

td {
    padding: 20px;
}

tr:last-child td {
    border-bottom: none;
}

.fa-solid {
    font-size: 1.2em;
    color: var(--color-gris);
    cursor: pointer;
}

.modeltable {
    width: 90%;
}

.data-table {
    display: none;
}

.tableHeaders {
    background-color: var(--color-verde);
    font-family: var(--fuente);
    font-size: 1vw;
}

.tableHeaders th {
    padding: 20px;
}

.cuerpo-tabla {
    font-family: var(--fuente);
    font-size: 0.9vw;
}

.fa-magnifying-glass {
    color: var(--color-azul);
}

.fa-pen-to-square {
    color: var(--color-verde);
}

.fa-trash-can {
    color: var(--color-rojo);
}

.acciones {
    width: 300px;
}

.tr {
    width: 100%;
}

.userDetails,
.docenteDetails,
.cursoDetails,
.moduloDetails,
.workshopDetails,
.preguntaDetails {
    display: none;
    margin-top: 20px;
}

.userDetails table,
.docenteDetails table,
.cursoDetails table,
.moduloDetails table,
.workshopDetails table,
.preguntaDetails table{
    width: 50%;
    border-collapse: collapse;
}

.userDetails th,
.userDetails td,
.docenteDetails th,
.docenteDetails td,
.cursoDetails th,
.cursoDetails td,
.moduloDetails th,
.moduloDetails td,
.workshopDetails th,
.workshopDetails td,
.preguntaDetails th,
.preguntaDetails td{
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-family: var(--fuente);
    font-size: 0.9vw;
}

.backToList,
.backToUsers,
.backToDocentes,
.backToCursos,
.backToModulos,
.backToWorkshops,
.backToPreguntas {
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 20px;
    background-color: var(--color-verde);
    font-family: var(--fuente);
    font-size: 0.9vw;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.backToUsers:hover,
.backToDocentes:hover,
.backToCursos:hover,
.backToModulos:hover,
.backToWorkshops:hover,
.backToPreguntas:hover {
    color: var(--color-negro);
}

#addUserButton,
#addDocenteButton,
#addCursoButton,
#addModuloButton,
#addWorkshopButton,
#addPreguntaButton {
    font-family: var(--fuente);
    font-size: 0.8vw;
    padding: 10px 10px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--color-azul);
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.btn-actualizar,
.btn-editarUser,
.btn-añadirDocente{
    background-color: var(--color-azul);
    margin-left: 40px;
    padding: 10px 20px;
    font-size: 0.9vw;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
.popup-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.popup-content button {
    margin: 10px;
    font-family: var(--fuente);
    font-size: 0.9vw;
    padding: 10px 20px;
}

#confirmDeleteUserButton,
#confirmDeleteDocenteButton,
#confirmDeleteCursoButton,
#confirmDeleteModuloButton,
#confirmDeleteWorkshopButton,
#confirmDeletePreguntaButton {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form {
    margin-left: 20px;
}

.form-control.checkbox-control {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.form-control.checkbox-control input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.btn-añadir {
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 20px;
    background-color: var(--color-azul);
    font-family: var(--fuente);
    font-size: 0.9vw;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn-añadir:hover {
    color: var(--color-negro)
}

.bot {
    margin-top: -20px;
    margin-left: 390px;
    display: flex;
    justify-content: center;
}
#addMatricula,
#matricula{
    margin-top: 20px;
    cursor: pointer;
    content: '';
    display: inline-block;
}
#addMatricula,
#matricula {
    -webkit-appearance: none; /* Quitar apariencia predeterminada en WebKit */
    -moz-appearance: none; /* Quitar apariencia predeterminada en Firefox */
    appearance: none; /* Quitar apariencia predeterminada */
    width: 20px; /* Ancho de la caja */
    height: 20px; /* Alto de la caja */
    border: 2px solid transparent; /* Quitar borde */
}

/* Estilo cuando el checkbox está seleccionado */
#addMatricula:checked,
#matricula:checked {
    background-color: var(--color-azul); /* Fondo negro cuando está seleccionado */
}
.matricula{
    margin-left: -28px;
}

.message {
    position: fixed;
    top: 80px;
    right: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--color-negro);
    z-index: 2;
    opacity: 0;
    animation: fadeInOut 10s forwards;
}

.message.success {
    font-family: var(--fuente);
    font-size: 1vw;
    background-color: var(--color-verde);
}

.message.error {
    font-family: var(--fuente);
    font-size: 1vw;
    background-color: var(--color-rojo);
    color: var(--color-blanco);
   
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.dashboard-contenedor {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:center;
   }

.column1 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-right: 50px;
}
.column2 {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 40px;
}


#userCountContainer,
#matriculatedUserCountContainer,
#totalPreguntasContainer {
    width: 400px;
    height: 100px;
    font-size: 1.5vw;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

#userCountContainer span,
#matriculatedUserCountContainer span,
#totalPreguntasContainer span {
    font-family: var(--fuente);
    font-size: 1.5vw;
    margin-left: 10px;
}

#userCount,
#matriculatedUserCount,
#totalPreguntas {
    color: var(--color-verde);
}
