:root {
    --texto-normal: "Comme", sans-serif;
    --Texto-logo: "Stalinist One", sans-serif;
    --fuente: "SafiroMedium", sans-serif;
    --color-gris: #4e4e4e;
    --color-grisOpacidad: #5656568b;
    --color-blanco: #ffffff;
    --color-negro: #1d1c1c;
    --color-negroOs: #000000;
    --color-rojo: #db0335;
    --color-verde:#159E82;
    --color-azul: #0d6efd;
 }
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}
.btn-cancelar{
    background-color: white;
    color: var(--color-negro);
    padding: 16px;
    margin-right: 20px;  
    cursor: pointer;
    border: 1px solid var(--color-negro);
}
.btn-admin{
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 7px;
}
.btn-admin button{
    font-family: var(--fuente);
    font-size: 0.9vw;
    padding: 5px;
    border-radius: 5px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}
.btn-admin:hover{
    transform: scale(110%);
}