@import url('../css/header.css');
@import url('../css/footer.css');
@import url('../css/comun.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
  }

  .curso {
    width: 100vw; /* Asegura que el artículo ocupe todo el ancho disponible */
    height: auto; /* O ajusta según la altura deseada */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
  }

  .container-curso{
    width: 80%;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  }

  .descripción {
    width: 70%;
    color: var(--color-blanco);
    font-family: var(--fuente);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto alinea el contenido para que el botón se sitúe al final */
    height: 30vw; /* Asegúrate de que la descripción ocupe toda la altura disponible */
    margin-right: 50px;
}

  .descripción h1{
    font-size: 4vw;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .descripción p{
    font-size: 1.7vw;
  }
  

  .container-curso .imagen {
    width: 50vw; 
    height: 30vw; 
    position: relative; 
    overflow: hidden; 
    border-radius: 10px; 
}

.cursoImage {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse, recortando si es necesario */
    position: absolute; /* Posiciona absolutamente dentro de su contenedor */
    top: 0;
    left: 0;
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.cursoButton {
    background-color: var(--color-blanco); /* Fondo negro */
    color: var(--color-negro); /* Texto blanco */
    border: none; /* Sin borde */
    padding: 15px 20px; /* Ajusta al tamaño que prefieras */
    font-family: var(--fuente);
    font-size: 20px; /* Tamaño del texto */
    cursor: pointer; /* Cursor tipo puntero para indicar que es clickeable */
    border-radius: 10px; /* Bordes redondeados */
    display: inline-flex; /* Usa flexbox para alinear texto y flecha */
    align-items: center; /* Centra verticalmente el texto y la flecha */
    transition: background-color 0.3s; /* Transición suave del color de fondo */     
    margin-bottom: 50px;
}

.cursoButton:hover {
    background-color: var(--color-verde); /* Cambia a un gris oscuro en hover */
}

.cursoButton .arrow {
    margin-left: 20px; /* Espacio entre el texto y la flecha */
    transition: transform 0.3s; /* Efecto suave para mover la flecha */
}

.cursoButton:hover .arrow {
    transform: translateX(10px); /* Mueve la flecha hacia la derecha al hacer hover */
}



/*
.imagen{
    border-radius: 10px;

}
  .container-curso .imagen {
    width: 35%;  
    height: auto; 
.cursoImage {
    width: 100%; 
    border-radius: 10px;
    height: auto; 
}
*/
