@import url('../css/header.css');
@import url('../css/footer.css');
@import url('../css/comun.css');
@import url('../css/formularioLoginRegister.css');


.login {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}






