<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../../css/admin.css">
    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>
    <script type="module" src="../../js/admin.js"></script>
</head>

<body>
    <div class="main">
        <div class="izquierda">
            <nav>
                <img class="logo" src="../../images/paixel_P_T.png" alt="">
                <ul>
                    <a class="home" href="./home.html"><li class="home"><i class="fa-solid fa-house"></i>Home</li></a>
                    <li class="dashboard"><i class="fa-solid fa-chart-pie"></i>Dashboard</li>
                    <li class="user"><i class="fa-solid fa-users"></i>Usuarios</li>
                    <li class="docente"><i class="fa-solid fa-user-tie"></i>Docentes</li>
                    <li class="curso"><i class="fa-solid fa-book-open"></i>Cursos</li>
                    <li class="modulo"><i class="fa-solid fa-book-open-reader"></i>Modulos</li>
                    <li class="workshop"><i class="fa-solid fa-image"></i>Workshop</li>
                </ul>
            </nav>
        </div>
        <div class="derecha">
            <nav>
    
                <div class="head"><span><i class="fa-solid fa-user-shield"></i>Admin</span></div>
            </nav>

             <!-- Agregar botón de añadir usuario aquí -->
             
             <h1 class="main-title"></h1>
             <button id="addUserButton" style="display: none;">Añadir Usuario</button>
             <button id="addDocenteButton" style="display: none;">Añadir docente</button>
             <button id="addCursoButton" style="display: none;">Añadir curso</button>
             <button id="addModuloButton" style="display: none;">Añadir modulo</button>
             <button id="addWorkshopButton" style="display: none;">Añadir workshop</button>
                <table class="cabecera-tabla">
                    <thead>
                        <tr class="tableHeaders"></tr>
                    </thead>
                    <tbody class="cuerpo-tabla">
                        <!-- Los datos se insertarán aquí dinámicamente -->
                    </tbody>
                </table>
                <div class="dashboardDetails" style="display: none;">Dashboard content</div>
                <div class="userDetails" style="display: none;">
                    <h2>Detalles del Usuario</h2>
                    <table>
                        <tbody class="userDetailsBody">
                            <!-- Los detalles del usuario se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToUsers">Volver a la lista de usuarios</button>
                </div>
                <div class="docenteDetails" style="display: none;">
                    <h2>Detalles del Docente</h2>
                    <table>
                        <tbody class="docenteDetailsBody">
                            <!-- Los detalles del docente se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToDocentes">Volver a la lista de docentes</button>
                </div>

                <div class="cursoDetails" style="display: none;">
                    <h2>Detalles del Curso</h2>
                    <table>
                        <tbody class="cursoDetailsBody">
                            <!-- Los detalles del curso se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToCursos">Volver a la lista de cursos</button>
                </div>
                <div class="moduloDetails" style="display: none;">
                    <h2>Detalles del Módulo</h2>
                    <table>
                        <tbody class="moduloDetailsBody">
                            <!-- Los detalles del módulo se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToModulos">Volver a la lista de módulos</button>
                </div>
                <div class="workshopDetails" style="display: none;">
                    <h2>Detalles del Workshop</h2>
                    <table>
                        <tbody class="workshopDetailsBody">
                            <!-- Los detalles del workshop se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToWorkshops">Volver a la lista de workshops</button>
                </div>
                <!-- FORMULARIOS DE USUARIOS-->
                <div class="userEdit" style="display: none;">
                    <h2>Editar Usuario</h2>
                    <form class="register-form" id="userEditForm" method="POST">
                        <div class="form-control">
                            <input type="email" id="email" name="email" required>
                            <label for="email">Correo Electrónico</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="username" name="username" required>
                            <label for="username">Nombre de Usuario</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="apellidos" name="apellidos" required>
                            <label for="apellidos">Apellidos</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="localidad" name="localidad" required>
                            <label for="localidad">Localidad</label>
                        </div>
                        <div class="form-control">
                            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                            <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        </div>
                        <div class="form-control">
                            <select id="genero" name="genero" required onfocus="adjustLabel(this)" onblur="adjustLabel(this)"
                                onchange="adjustLabel(this)">
                                <option value="" disabled selected></option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="otro">Otro</option>
                            </select>
                            <label for="genero">Género</label>
                        </div>
                        <div class="form-control">
                            <select id="role" name="role">
                                <option value="USER">USER</option>
                                <option value="ADMIN">ADMIN</option>
                            </select>
                            <label for="role">Role</label>
                        </div>
                        <div class="form-control checkbox-control">
                            <input type="checkbox" id="matricula" name="matricula">
                            <label class="matricula" for="matricula">Matrícula</label>
                            <div class="button-group">
                                <button class="btn-editarUser" type="submit">Editar</button>
                                <button type="button" class="backToList">Cancelar</button>
                            </div>
                        </div>
                    </form>      
                </div>
        
                <div class="userAdd" style="display: none;">
                    <h2>Añadir Usuario</h2>
                    <form class="register-form" id="userAddForm" method="POST">
                        <div class="form-control">
                            <input type="email" id="addEmail" name="email" required>
                            <label for="addEmail">Correo Electrónico</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addUsername" name="username" required>
                            <label for="addUsername">Nombre de Usuario</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addApellidos" name="apellidos" required>
                            <label for="addApellidos">Apellidos</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addLocalidad" name="localidad" required>
                            <label for="addLocalidad">Localidad</label>
                        </div>
                        <div class="form-control">
                            <input type="date" id="addFechaNacimiento" name="fechaNacimiento" >
                            <label for="addFechaNacimiento">Fecha de Nacimiento</label>
                        </div>
                        <div class="form-control">
                            <select id="addGenero" name="genero"  onfocus="adjustLabel(this)" onblur="adjustLabel(this)"
                                onchange="adjustLabel(this)">
                                <option value="" disabled selected></option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="otro">Otro</option>
                            </select>
                            <label for="addGenero">Género</label>
                        </div>
                        <div class="form-control">
                            <select id="addRole" name="role" required>
                                <option value="USER">USER</option>
                                <option value="ADMIN">ADMIN</option>
                            </select>
                            <label for="addRole">Role</label>
                        </div>
                        <div class="form-control checkbox-control">
                            <input type="checkbox" id="addMatricula" name="matricula">
                            <label class="matricula" for="addMatricula">Matrícula</label>
                            <div class="bot">
                                <button class="btn-añadir" type="submit">Añadir</button>
                                <button type="button" class="backToList">Cancelar</button>
                            </div>
                        </div>
               
                    </form>
        
                </div>

                <!-- FORMULARIOS DE DOCCENTE-->
                <div class="docenteEdit" style="display: none;">
                    <h2>Editar Docente</h2>
                    <form class="register-form" id="docenteEditForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="docenteUsername" name="username" required>
                            <label for="docenteUsername">Nombre de Usuario</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="docenteEspecialidad" name="especialidad" required>
                            <label for="docenteEspecialidad">Especialidad</label>
                        </div>
                        <div class="form-control">
                            <textarea id="docenteDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="docenteDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="docenteRecurso" name="recurso">
                            <label for="docenteRecurso">Recurso</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-actualizar" type="submit">Guardar</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>
                
                <div class="docenteAdd" style="display: none;">
                    <h2>Añadir Docente</h2>
                    <form class="register-form" id="docenteAddForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="addDocenteUsername" name="username" required>
                            <label for="addDocenteUsername">Nombre de Usuario</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addDocenteEspecialidad" name="especialidad" required>
                            <label for="addDocenteEspecialidad">Especialidad</label>
                        </div>
                        <div class="form-control">
                            <textarea id="addDocenteDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="addDocenteDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addDocenteRecurso" name="recurso" required>
                            <label for="addDocenteRecurso">Recurso</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-añadirDocente" type="submit">Añadir</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>
                
                
                <!-- FORMULARIOS DE DOCCENTE-->
                <div class="cursoEdit" style="display: none;">
                    <h2>Editar Curso</h2>
                    <form class="register-form" id="cursoEditForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="cursoTitulo" name="titulo" required>
                            <label for="cursoTitulo">Título</label>
                        </div>
                        <div class="form-control">
                            <textarea id="cursoDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="cursoDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="cursoRecurso" name="recurso">
                            <label for="cursoRecurso">Recurso</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="cursoIdUsuario" name="idusuario" required>
                            <label for="cursoIdUsuario">ID Usuario</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="cursoIdDocente" name="iddocente" required>
                            <label for="cursoIdDocente">ID Docente</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-actualizar" type="submit">Guardar</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>

                <div class="cursoAdd" style="display: none;">
                    <h2>Añadir Curso</h2>
                    <form class="register-form" id="cursoAddForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="addCursoTitulo" name="titulo" required>
                            <label for="addCursoTitulo">Título</label>
                        </div>
                        <div class="form-control">
                            <textarea id="addCursoDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="addCursoDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addCursoRecurso" name="recurso" required>
                            <label for="addCursoRecurso">Recurso</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="addCursoIdUsuario" name="idusuario" required>
                            <label for="addCursoIdUsuario">ID Usuario</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="addCursoIdDocente" name="iddocente" required>
                            <label for="addCursoIdDocente">ID Docente</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-añadir" type="submit">Añadir</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>
                
                
                <!-- FORMULARIOS DE MODULOS-->
                <div class="moduloEdit" style="display: none;">
                    <h2>Editar Módulo</h2>
                    <form class="register-form" id="moduloEditForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="moduloTitulo" name="titulo" required>
                            <label for="moduloTitulo">Título</label>
                        </div>
                        <div class="form-control">
                            <textarea id="moduloDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="moduloDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="moduloOrden" name="orden" required>
                            <label for="moduloOrden">Orden</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="moduloRecurso" name="recurso" required>
                            <label for="moduloRecurso">Recurso</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="moduloTiempo" name="tiempo" required>
                            <label for="moduloTiempo">Tiempo</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="moduloIdCurso" name="idcurso" required>
                            <label for="moduloIdCurso">ID Curso</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-actualizar" type="submit">Guardar</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>
                
                <div class="moduloAdd" style="display: none;">
                    <h2>Añadir Módulo</h2>
                    <form class="register-form" id="moduloAddForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="addModuloTitulo" name="titulo" required>
                            <label for="addModuloTitulo">Título</label>
                        </div>
                        <div class="form-control">
                            <textarea id="addModuloDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="addModuloDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="addModuloOrden" name="orden" required>
                            <label for="addModuloOrden">Orden</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addModuloRecurso" name="recurso" required>
                            <label for="addModuloRecurso">Recurso</label>
                        </div>
                        <div class="form-control">
                            <input type="text" id="addModuloTiempo" name="tiempo" required>
                            <label for="addModuloTiempo">Tiempo</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="addModuloIdCurso" name="idcurso" required>
                            <label for="addModuloIdCurso">ID Curso</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-añadir" type="submit">Añadir</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>
                
                <!-- FORMULARIOS DE workshop-->
                <div class="workshopEdit" style="display: none;">
                    <h2>Editar Workshop</h2>
                    <form class="register-form" id="workshopEditForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="workshopContenido" name="contenido" required>
                            <label for="workshopContenido">Contenido</label>
                        </div>
                        <div class="form-control">
                            <textarea id="workshopDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="workshopDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="date" id="workshopFecha" name="fecha" required>
                            <label for="workshopFecha">Fecha</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="workshopIdUsuario" name="idusuario" required>
                            <label for="workshopIdUsuario">ID Usuario</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-actualizar" type="submit">Guardar</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>
                <div class="workshopAdd" style="display: none;">
                    <h2>Añadir Workshop</h2>
                    <form class="register-form" id="workshopAddForm" method="POST">
                        <div class="form-control">
                            <input type="text" id="addWorkshopContenido" name="contenido" required>
                            <label for="addWorkshopContenido">Contenido</label>
                        </div>
                        <div class="form-control">
                            <textarea id="addWorkshopDescripcion" name="descripcion" rows="4" required></textarea>
                            <label for="addWorkshopDescripcion">Descripción</label>
                        </div>
                        <div class="form-control">
                            <input type="date" id="addWorkshopFecha" name="fecha" >
                            <label for="addWorkshopFecha">Fecha</label>
                        </div>
                        <div class="form-control">
                            <input type="number" id="addWorkshopIdUsuario" name="iduser" required>
                            <label for="addWorkshopIdUsuario">ID Usuario</label>
                        </div>
                        <div class="button-group">
                            <button class="btn-añadir" type="submit">Añadir</button>
                            <button type="button" class="btn-cancelar backToList">Cancelar</button>
                        </div>
                    </form>
                </div>
                

        </div>

        
        <div id="deletePopup" class="popup">
            <div class="popup-content">
                <p id="deletePopupMessage">¿Estás seguro de que deseas eliminar este usuario?</p>
                <div class="popup-button">                  
                    <button id="confirmDeleteUserButton" style="display:none;">Eliminar Usuario</button>
                    <button id="confirmDeleteDocenteButton" style="display:none;">Eliminar Docente</button>
                    <button id="confirmDeleteCursoButton" style="display:none;">Eliminar Curso</button>
                    <button id="confirmDeleteModuloButton" style="display:none;">Eliminar Módulo</button>
                    <button id="confirmDeleteWorkshopButton" style="display:none;">Eliminar Workshop</button>
                    <button id="cancelDeleteButton">Cancelar</button>
                </div>
            </div>
        </div>
        
        


    </div>
    </div>

</body>

</html>