<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../../css/admin.css">
    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>
    <script type="module" src="../../js/admin.js"></script>
</head>

<body>
    <div class="main">
        <div class="izquierda">
            <nav>
                <img class="logo" src="../../images/paixel_P_T.png" alt="">
                <ul>
                    <li><i class="fa-solid fa-house"></i>Home</li>
                    <li class="dashboard"><i class="fa-solid fa-chart-pie"></i>Dashboard</li>
                    <li class="user"><i class="fa-solid fa-users"></i>Usuarios</li>
                    <li class="docente"><i class="fa-solid fa-user-tie"></i>Docentes</li>
                    <li class="curso"><i class="fa-solid fa-book-open"></i>Cursos</li>
                    <li class="modulo"><i class="fa-solid fa-book-open-reader"></i>Modulos</li>
                    <li class="workshop"><i class="fa-solid fa-image"></i>Workshop</li>
                </ul>
            </nav>
        </div>
        <div class="derecha">
            <div class="head"><span><i class="fa-solid fa-user-shield"></i>Admin</span></div>
            <main>
                <h1></h1>
                <table class="cabecera-tabla">
                    <thead>
                        <tr class="tableHeaders"></tr>
                    </thead>
                    <tbody class="cuerpo-tabla">
                        <!-- Los datos de los usuarios se insertarán aquí dinámicamente -->
                    </tbody>
                </table>
                <div class="userDetails" style="display: none;">
                    <h2>Detalles del Usuario</h2>
                    <table>
                        <tbody class="userDetailsBody">
                            <!-- Los detalles del usuario se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToUsers">Volver a la lista de usuarios</button>
                </div>
                <div class="cursoDetails" style="display: none;">
                    <h2>Detalles del Curso</h2>
                    <table>
                        <tbody class="cursoDetailsBody">
                            <!-- Los detalles del curso se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToCursos">Volver a la lista de cursos</button>
                </div>
                <div class="moduloDetails" style="display: none;">
                    <h2>Detalles del Módulo</h2>
                    <table>
                        <tbody class="moduloDetailsBody">
                            <!-- Los detalles del módulo se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToModulos">Volver a la lista de módulos</button>
                </div>
                <div class="workshopDetails" style="display: none;">
                    <h2>Detalles del Workshop</h2>
                    <table>
                        <tbody class="workshopDetailsBody">
                            <!-- Los detalles del workshop se insertarán aquí dinámicamente -->
                        </tbody>
                    </table>
                    <button class="backToWorkshops">Volver a la lista de workshops</button>
                </div>
                
                <div class="userEdit" style="display: none;">
                    <h2>Editar Usuario</h2>
                    <form id="userEditForm">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        
                        <label for="username">Nombre de Usuario:</label>
                        <input type="text" id="username" name="username" required>
                        
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" id="apellidos" name="apellidos" required>
                        
                        <label for="localidad">Localidad:</label>
                        <input type="text" id="localidad" name="localidad">
                        
                        <label for="matricula">Matrícula:</label>
                        <input type="checkbox" id="matricula" name="matricula">
                        
                        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                        
                        <label for="genero">Género:</label>
                        <input type="text" id="genero" name="genero">
                        
                        <label for="role">Role:</label>
                        <select id="role" name="role">
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                        
                        <button type="submit">Guardar Cambios</button>
                        <button type="button" class="backToUsers">Cancelar</button>
                    </form>
                </div>
                
                
            </main>
        </div>
    </div>

</body>

</html>