<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>

    <link rel="stylesheet" href="../css/allCursos.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">


    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>



    <script type="module" src="../js/allCursos.js"></script>
</head>

<body>

    <div class="texto-principal">
        <div>
            
            <h1 class="titulo">Explora la Creatividad Sin Límites</h1><br>
            <span class="frase">Descubre cómo nuestros cursos elevan el arte digital y visual, demostrando lo que puedes lograr con la formación y la creatividad adecuadas en Paixel.</span>
        </div>
    </div>
    <article class="allCursos">
        <div class="cursos-container"></div>
    </article>


</body>

</html>