<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>

    <link rel="stylesheet" href="../css/curso.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

    <script type="module" src="../js/curso.js"></script>

</head>

<body>

    <article class="curso">
        <div class="container-curso">
            <div class="descripción">
                <div>
                    <h1 class="cursoTitle"></h1> <!-- Elemento para el título del curso -->
                    <p class="cursoDescription"></p> <!-- Elemento para la descripción del curso -->
                </div>
                <div>
                    <button class="cursoButton">Más Información <span class="arrow">→</span></button> <!-- Elemento para el botón de inscripción -->
                </div>
            </div>
            <div class="imagen">
                <img class="cursoImage" src="" alt=""> <!-- Elemento para la imagen del curso -->
            </div>
        </div>
    </article>

</body>
</html>