<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso modulos</title>

    <link rel="stylesheet" href="../css/cursoModulos.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">
   

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

    
    
    <script type="module" src="../js/cursoModulos.js"></script>
</head>
<body>

   <article class="curso-modulos">
    <div class="container">
        <div class="grid-container">
            <div class="grid-item cursoImageContainer">
                <img class="cursoImage" src="" alt="Imagen del Curso">
                <div class="overlay">
                    <div class="contenido-overlay">
                        <h1 class="cursoTitle"></h1>
                        <span class="cursoDescription"></span>
                        <button>Acceder</button>
                    </div>
                </div>
            </div>
            <div class="grid-item docenteImageContainer">
                <img src="" alt="Imagen del Docente" class="docenteImage">
            </div>
            <div class="grid-item large">
                <div class="container-modulos">

                    <div class="module-links">
                        <h2 class="titulo-modulo">Temario</h2>
                        <!-- Aquí se agregarán los módulos dinámicamente -->
                    </div>
                </div>
            </div>
            <div class="grid-item small">             
                <div class="instructor-info">
                    <h3 class="docenteName"></h3>
                    <h4 class="docenteSpecialty"></h4>
                    <p class="docenteDescription"></p>
                </div>
            </div>
        </div>
        </div>
    </div>
   </article>
</body>
</html>