<!DOCTYPE html>
<html lang="es">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Paixel</title>

      <link rel="stylesheet" href="../css/home.css">
      <link rel="stylesheet" href="../css/header.css">
      <link rel="stylesheet" href="../css/footer.css">
      <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">
      <script type="module" src="../js/home.js"></script>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
            rel="stylesheet">

      <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

      <script type = module src="../js/home.js"></script>
</head>

<body>
      <header>

            <a href="../view/home.html">
                  <div class="logo">
                        <img src="../images/paixel_P_T.png" alt="logo">

                  </div>
            </a>
            <nav class="menu">
                <a class="btn-admin" href="admin.html">
                      <button id="adminButton" style="display: none;">Panel Admin</button>
                </a>

                  <div class="m1"><a class="linea">Cursos</a>
                        <span class="material-symbols-outlined">
                              expand_more
                        </span>
                        <div class="submenu">                           
                              <div class="column">
                                    <a href="allCursos.html">Todos los cursos</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=1">Diseño Gráfico</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=2">Photoshop</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=3">Desarrollo Web</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=4">UI/UX</a>
                                    </div>
                              <div class="column">                                  
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=5">Logotipos y Branding</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=6">Ilustración</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=7">3D y Animación</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=8">Introducción a Figma</a>
                                    <a href="http://127.0.0.1:5500/view/curso.html?id=9">Composición y FX</a>
                              </div>
                        </div>
                  </div>
                  <div class="m2"><a class="linea" href="tarifas.html">Tarifas</a></div>
                  <div class="m3"><a class="linea" href="workshop.html">Workshop</a></div>
                  <div class="m4"><a class="linea" href="noticias.html">Noticias</a></div>
                  <div class="m5">
                        <a href="login.html">
                              <img src="../images/usuario1.png" alt="usuario">
                        </a>
                        <div class="submenu-m5" style="display: none;">
                              <a href="misCursos.html">Mis Cursos</a>
                              <a href="perfilUsuario.html" class="profile-link">Perfil</a>
                              <a id="logoutLink" href="#">Cerrar Sesión</a>
                        </div>
                  </div>
                  <div class="marca"></div>
            </nav>
      </header>
      <main>
            <article class="imagen">
                  <span class="slogan">Transformando ideas<br>en arte digital</span>
            </article>
            <div class="contenedor-mensaje">
                  <article class="mensaje">
                        <h1>Escuela lider en diseño grafico</h1>
                        <p>Paixel es una escuela de diseño gráfico que se enfoca en la enseñanza de las últimas
                              tendencias en
                              diseño
                              gráfico, ilustración y animación. Nuestros cursos están diseñados para que puedas aprender
                              de
                              manera
                              rápida y sencilla, sin importar tu nivel de conocimiento previo. </p>
                  </article>
            </div>
            <article class="contenedor_grid">
                  <div class="columna c1">
                       <a  class="button" href="noticias.html">
                             <button class="button-grid" >Entrar</button>                       
                       </a> 
                  </div>
                  <div class="columna c2">
                        <a  class="button" href="workshop.html">
                              <button class="button-grid" >Entrar</button>                       
                        </a> 
                  </div>
                  <div class="columna c3">
                        <a  class="button" href="allCursos.html">
                              <button class="button-grid" >Entrar</button>                       
                        </a> 
                  </div>
            </article>
            <article class="final">
                  <article class="final">
                        <section class="stat">
                              <div class="stat-number">#1</div>
                              <div class="stat-title">Primera Escuela</div>
                              <div class="stat-desc">La escuela más prestigiosa en Artes Digitales</div>
                        </section>
                        <section class="stat">
                              <div class="stat-number">+15.000</div>
                              <div class="stat-title">Alumnos Satisfechos</div>
                              <div class="stat-desc">Hemos formado a la mayor parte de profesionales</div>
                        </section>
                        <section class="stat">
                              <div class="stat-number">+30</div>
                              <div class="stat-title">Años de Experiencia</div>
                              <div class="stat-desc">Nuestra escuela comenzó en 1990 con Photoshop</div>
                        </section>
                  </article>

            </article>
      </main>
      <footer>
            <div class="isotipo">
                  <img src="../images/paixel isotipo100x100.png" alt="">
            </div>

            <div class="social">
                  <i class="fa-brands fa-twitch"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-meta"></i>
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-facebook-f"></i>
                  <i class="fa-brands fa-square-instagram"></i>
                  <div class="info">
                        <p>© 2021 Paixel. Todos los derechos reservados</p>
                        <p>Política de privacidad</p>
                        <p>Terminos y condiciones</p>
                  </div>
            </div>
      </footer>

</body>

</html>