<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo</title>

    <link rel="stylesheet" href="../css/modulo.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">


    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>



    <script type="module" src="../js/modulo.js"></script>
</head>

<body>
  <article class="modulo">
    <div class="video-modulos">
        <div class="video-container">
            <div class="menu-modulo">
                <a class="titulo-curso" href="#">
                    <span class="ir">&larr; IR a</span> <span class="curso-nombre"></span>
                </a>               
                <span class="titulo-modulo"></span>
                <a class="siguiente" href="#">SIGUIENTE</a>
            </div>
            <video id="videoFrame" width="560" height="315" controls>
                <source id="videoSource" src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="module-links">
            <h2>Modulos</h2>
            <!-- Los módulos se agregarán dinámicamente aquí -->
        </div>
    </div>
    <div class="preguntas">
        <h3>Preguntas de los alumnos:</h3>
        <textarea id="student-questions" rows="14" cols="50" placeholder="Escribe tus preguntas aquí..."></textarea>
        <div class="botones">
            <button class="enviar">Enviar</button>
            <button class="cancelar">Cancelar</button>
        </div>
    </div>
</article>



</body>

</html>