<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo</title>

    <link rel="stylesheet" href="../css/modulo.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">
   

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

    
    
    <script type="module" src="../js/modulo.js"></script>
</head>
<body>

    <article class="login">
        <a class="titulo-curso" href=""></a>
        <a href="">SIGUIENTE</a>
        <div class="video-container">
            <video id="videoFrame" width="560" height="315" controls>
                <source id="videoSource" src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="module-links">
            <h2>Temario</h2>
            <!-- Los módulos se agregarán dinámicamente aquí -->
        </div>
    </article>
   
    
</body>
</html>