<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>

    <link rel="stylesheet" href="../css/noticias.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">
   

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

    
    
    <script type="module" src="../js/noticias.js"></script>
</head>
<body>

    <main>
        <section class="noticias">
      
            <div class="noticias-grid">
                <article class="noticia">
                    <img src="../images/noticias/noticia1.jpg" alt="Noticia 1">
                    <h2>Nuevas Herramientas de Photoshop 2024</h2>
                    <p>Adobe ha lanzado una nueva actualización para Photoshop 2024 que incluye herramientas innovadoras diseñadas para mejorar la productividad y la creatividad de los diseñadores gráficos. Esta actualización introduce una variedad de nuevas funcionalidades, tales como la edición de capas en 3D, pinceles inteligentes y un rendimiento mejorado que permite trabajar con archivos de gran tamaño de manera más eficiente. Los usuarios ahora pueden disfrutar de una experiencia de diseño más fluida y profesional.</p>
                </article>
                <article class="noticia">
                    <img src="../images/noticias/noticia2.jpg" alt="Noticia 2">
                    <h2>La Evolución del Diseño Gráfico</h2>
                    <p>El diseño gráfico ha pasado por una impresionante evolución desde sus inicios en el siglo XIX hasta la era digital actual. En sus primeras etapas, el diseño gráfico estaba estrechamente vinculado a las técnicas de impresión y los carteles publicitarios. Con la llegada de las computadoras, la disciplina experimentó una transformación radical, permitiendo a los diseñadores experimentar con nuevas herramientas y técnicas digitales. Hoy en día, el diseño gráfico es una parte integral de la comunicación visual, utilizada en una amplia gama de medios y plataformas.</p>
                </article>
                <article class="noticia">
                    <img src="../images/noticias/noticia3.jpg" alt="Noticia 3">
                    <h2>Tendencias en Diseño Gráfico</h2>
                    <p>Explora las tendencias más impactantes en el mundo del diseño gráfico para este año. El diseño gráfico está en constante evolución, adaptándose a nuevas tecnologías y cambiando las preferencias de los consumidores. Este año, las tendencias incluyen un mayor uso de colores vibrantes y audaces, tipografías experimentales, y la integración de elementos 3D en diseños bidimensionales. Además, se espera ver un aumento en el uso de ilustraciones personalizadas y gráficos animados, que ayudan a captar la atención del público y a transmitir mensajes de manera más efectiva. </p>
                </article>
                <article class="noticia">
                    <img src="../images/noticias/noticia6.jpg" alt="Noticia 4">
                    <h2>Maestría en Composición Fotográfica</h2>
                    <p>La composición fotográfica es una habilidad esencial que todo fotógrafo debe dominar. Se trata de la forma en que los elementos visuales se organizan dentro de una fotografía para crear una imagen equilibrada y atractiva. Desde el uso de la regla de los tercios hasta la exploración de perspectivas únicas, la composición puede transformar una foto ordinaria en una obra maestra visual. Aprender y aplicar estas técnicas puede mejorar significativamente la calidad de tus fotos y tu capacidad para contar historias a través de imágenes.</p>
                </article>
            </div>
        </section>
    </main>
    
</body>
</html>