<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica privacidad</title>

    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/politica.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="icon" href="../blanco.ico" type="image/x-icon">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">
    

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

    <script type="module" src="../js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
</head>

<body>

    <article class="politica">
        <h1>Política de Privacidad de Paixel</h1>
        <main class="main">
            <section>
                <h2>1. Introducción</h2>
                <p>
                    En Paixel, valoramos tu privacidad y estamos comprometidos a proteger tus datos personales. Esta política de privacidad explica cómo recopilamos, usamos, compartimos y protegemos tu información personal.
                </p>
            </section>
    
            <section>
                <h2>2. Información que Recopilamos</h2>
                <p>
                    Podemos recopilar y procesar la siguiente información sobre ti:
                </p>
                <ul>
                    <li>Información de contacto, como nombre, dirección de correo electrónico y número de teléfono.</li>
                    <li>Detalles de tus visitas a nuestro sitio web, incluidos datos de tráfico, datos de ubicación y otros datos de comunicación.</li>
                    <li>Información que proporcionas al rellenar formularios en nuestro sitio web.</li>
                </ul>
            </section>
    
            <section>
                <h2>3. Cómo Usamos tu Información</h2>
                <p>
                    Utilizamos la información que recopilamos para:
                </p>
                <ul>
                    <li>Proporcionarte información y servicios que nos solicitas.</li>
                    <li>Mejorar y personalizar tu experiencia en nuestro sitio web.</li>
                    <li>Comunicarnos contigo, incluidos envíos de boletines y promociones.</li>
                    <li>Administrar nuestro sitio web y operaciones internas, incluidas la resolución de problemas, análisis de datos, pruebas, investigación y propósitos estadísticos y de encuestas.</li>
                </ul>
            </section>
    
            <section>
                <h2>4. Divulgación de tu Información</h2>
                <p>
                    No vendemos, comercializamos ni transferimos a terceros tu información personal, excepto en las siguientes circunstancias:
                </p>
                <ul>
                    <li>Con proveedores de servicios de confianza que nos ayudan a operar nuestro sitio web, llevar a cabo nuestro negocio o prestar servicios a ti, siempre que esos terceros se comprometan a mantener esta información confidencial.</li>
                    <li>Cuando creemos que la divulgación es necesaria para cumplir con la ley, hacer cumplir las políticas de nuestro sitio o proteger nuestros derechos, propiedad o seguridad.</li>
                </ul>
            </section>
    
            <section>
                <h2>5. Seguridad de la Información</h2>
                <p>
                    Tomamos medidas razonables para proteger tu información personal de pérdida, robo y uso, acceso o modificación no autorizados. Sin embargo, ninguna transmisión por Internet es completamente segura, por lo que no podemos garantizar la seguridad absoluta de tu información.
                </p>
            </section>
    
            <section>
                <h2>6. Tus Derechos</h2>
                <p>
                    Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti. También puedes oponerte al procesamiento de tu información personal o solicitar que limitemos el procesamiento de tu información. Para ejercer estos derechos, por favor contáctanos a través de la información de contacto proporcionada en nuestro sitio web.
                </p>
            </section>
    
            <section>
                <h2>7. Cambios a esta Política de Privacidad</h2>
                <p>
                    Podemos actualizar esta política de privacidad de vez en cuando. Te notificaremos sobre cualquier cambio publicando la nueva política en nuestro sitio web. Te recomendamos que revises esta política periódicamente para estar al tanto de cualquier cambio.
                </p>
            </section>
    
            <section>
                <h2>8. Contacto</h2>
                <p>
                    Si tienes alguna pregunta sobre esta política de privacidad o sobre cómo manejamos tu información personal, por favor contáctanos en:
                </p>
                <address>
                    Paixel<br>
                    Dirección: Calle paixel 20<br>
                    Correo electrónico: email@paixel.com<br>
                    Teléfono: 666999666
                </address>
            </section>
        </main>
        <p>&copy; 2024 Paixel. Todos los derechos reservados.</p>
    </article>


</body>

</html>