<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios</title>

    <link rel="stylesheet" href="../css/precios.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">
   

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

    
    
    <script type="module" src="../js/precios.js"></script>
</head>
<body>

   <article class="precios">
    <div class="price-container">
        <div class="price-card">
            <h2>Plan Básico Mensual</h2>
            <p class="price">€39.90/mes</p>
            <p>Perfecto para quienes comienzan a aprender y explorar nuevas habilidades sin compromiso a largo plazo.</p>
            <button class="btn">Comenzar Ahora</button>
            <ul>
                <li>Acceso a cursos seleccionados</li>
                <li>Soporte por email</li>
                <li>Cancelación en cualquier momento</li>
            </ul>
        </div>
        <div class="price-card">
            <h2>Plan Experto Anual</h2>
            <p class="price">€225/año</p>
            <p>Adecuado para profesionales que buscan profundizar y expandir sus habilidades con acceso total.</p>
            <button class="btn trial">Comenzar Trial</button>
            <ul>
                <li>Acceso ilimitado a todos los cursos</li>
                <li>Soporte prioritario</li>
                <li>Certificados de finalización</li>
            </ul>
        </div>
    </div>
    
   </article>
   
    
</body>
</html>