<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones</title>

    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/politica.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="icon" href="../blanco.ico" type="image/x-icon">

    <link rel="stylesheet" href="../fonts/Webfont Kit/stylesheet.css">
    

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://kit.fontawesome.com/97457a5c00.js" crossorigin="anonymous"></script>

    <script type="module" src="../js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
</head>

<body>

    <article class="politica">
        <h1>Términos y Condiciones de Paixel</h1>
        <main class="main">
            <section>
                <h2>1. Introducción</h2>
                <p>
                    Estos Términos y Condiciones rigen el uso del sitio web de Paixel. Al acceder y usar nuestro sitio web, aceptas cumplir con estos términos. Si no estás de acuerdo con estos términos, no utilices nuestro sitio web.
                </p>
            </section>
    
            <section>
                <h2>2. Uso del Sitio Web</h2>
                <p>
                    Al utilizar nuestro sitio web, te comprometes a no:
                </p>
                <ul>
                    <li>Usar el sitio web para cualquier propósito ilegal o no autorizado.</li>
                    <li>Interferir o interrumpir el funcionamiento del sitio web.</li>
                    <li>Acceder o intentar acceder a áreas no públicas del sitio web.</li>
                </ul>
            </section>
    
            <section>
                <h2>3. Contenido del Sitio Web</h2>
                <p>
                    Todo el contenido del sitio web, incluidos textos, gráficos, imágenes y logotipos, es propiedad de Paixel o sus licenciantes. No puedes reproducir, distribuir, modificar o crear trabajos derivados de dicho contenido sin nuestro consentimiento previo por escrito.
                </p>
            </section>
    
            <section>
                <h2>4. Enlaces a Sitios Web de Terceros</h2>
                <p>
                    Nuestro sitio web puede contener enlaces a sitios web de terceros que no son operados por nosotros. No tenemos control sobre el contenido y las prácticas de privacidad de estos sitios web y no asumimos ninguna responsabilidad por ellos. Te recomendamos leer los términos y condiciones y las políticas de privacidad de cualquier sitio web de terceros que visites.
                </p>
            </section>
    
            <section>
                <h2>5. Limitación de Responsabilidad</h2>
                <p>
                    En la medida permitida por la ley, Paixel no será responsable de ningún daño indirecto, incidental, especial, consecuente o punitivo, ni de ninguna pérdida de beneficios o ingresos, incurridos directa o indirectamente, ni de ninguna pérdida de datos, uso, buena voluntad u otras pérdidas intangibles resultantes de:
                </p>
                <ul>
                    <li>Tu uso o incapacidad de uso de nuestro sitio web.</li>
                    <li>Cualquier acceso no autorizado o uso de nuestros servidores y/o cualquier información personal almacenada en ellos.</li>
                    <li>Cualquier interrupción o cese de la transmisión hacia o desde nuestro sitio web.</li>
                    <li>Cualquier error, virus, troyano o similar que pueda ser transmitido a través de nuestro sitio web por cualquier tercero.</li>
                </ul>
            </section>
    
            <section>
                <h2>6. Cambios a los Términos y Condiciones</h2>
                <p>
                    Nos reservamos el derecho de modificar estos términos en cualquier momento. Publicaremos los cambios en esta página y te notificaremos de cualquier cambio significativo. Es tu responsabilidad revisar estos términos periódicamente para estar al tanto de cualquier cambio.
                </p>
            </section>
    
            <section>
                <h2>7. Ley Aplicable</h2>
                <p>
                    Estos términos se regirán e interpretarán de acuerdo con las leyes de [Tu País], sin tener en cuenta sus disposiciones sobre conflictos de leyes. Cualquier disputa derivada de estos términos se someterá a la jurisdicción exclusiva de los tribunales de [Tu Ciudad, Tu País].
                </p>
            </section>
    
            <section>
                <h2>8. Contacto</h2>
                <p>
                    Si tienes alguna pregunta sobre estos Términos y Condiciones, por favor contáctanos en:
                </p>
                <address>
                    Paixel<br>
                    Dirección: Calle paixel 20<br>
                    Correo electrónico: email@paixel.com<br>
                    Teléfono: 666999666
                </address>
            </section>
        </main>
        <p>&copy; 2024 Paixel. Todos los derechos reservados.</p>
    </article>


</body>

</html>